{% import "macro/form.html" as form %}
<form action="/thanks" type="post" class="details" method="get">
	<fieldset>
		<div class="legend">
			<legend>Payment method</legend>
		</div>
		{{ form.date_selects("subscription_start_date", "Subscription start date") }}
		{{ form.select("mothly_payment_date", "Monthly Payment Date", [{"label": "1", "value": "1"}, {"label": "2", "value": "2"}, {"label": "3", "value": "3"}, {"label": "4", "value": "4"}, {"label": "5", "value": "5"}, {"label": "6", "value": "6"}]) }}
		{{ form.radios("payment_method", "Payment method", [{"value": "dd", "label": "Direct Debit Monthly"}, {"value": "cc", "label": "Credit Card Monthly"}]) }}
	</fieldset>

	{{ form.submit("Continue") }}
</form>
