{% extends 'base.html' %}
{% block title %}Choose your subscription type{% endblock %}

{% block content %}
<div class="row offers">
	<div class="col-12">
		<div class="offer-panel center">
			<h2 class="offer-heading large">Voucher subscription</h2>
			<div class="offer-star">Beat the price rise - limited time offer!</div>
			<div class="offer-image cf"><img src="/static/img/print-digital.jpg" width="380" height="142" alt="" /></div>
			<div class="offer-description">4 weeks only &mdash; save up to 46%<span class="triangle"></span></div>
			<div class="offer-content">
				<ul>
					<li>Sign up before 10 February to take advantage of this limited time offer</li>
					<li>Pay as little as &pound;4 per week</li>
				</ul>
			</div>
			<div class="offer-cta">
                <a href="https://www.guardiansubscriptions.co.uk/Voucher{% if promoCode %}?prom={{ promoCode }}{% endif %}" class="button">Subscribe</a>
			</div>
		</div>
	</div>
{% endblock %}
