{% extends 'base.html' %}
{% block title %}Choose your subscription type{% endblock %}
{% block subtitle %}Choose a package that is right for you{% endblock %}

{% block rapp_tracking %}
<script type="text/javascript"> 
	var ftRandom = Math.random()*1000000; 
	document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="http://servedby.flashtalking.com/container/1753;12079;944;iframe/?spotName=Subscription_Landing_Page&cachebuster='+ftRandom+'"></iframe>'); 
</script>
{% endblock %}

{% block content %}
<div class="row offers">
	<div class="col-6">
		<a href="https://www.guardiansubscriptions.co.uk/Voucher{% if promoCode %}?prom={{ promoCode }}{% endif %}" class="offer-panel">
			<h2 class="offer-heading large">Voucher subscription</h2>
			<div class="offer-star">Includes iPad<span class="break"></span> and iPhone access</div>
			<div class="offer-image cf"><img src="/static/img/print-digital.jpg" width="380" height="142" alt="" /></div>
			<div class="offer-description">Save up to 41% on the retail price<span class="triangle"></span></div>
			<div class="offer-content">
				<ul>
					<li>Subscribe and we will send you a books of vouchers</li>
					<li>Redeem your voucher at 1000s of local newsagents (delivery not included)</li>
				</ul>
			</div>
			<div class="offer-cta">
                <div class="button">Subscribe</div>
			</div>
		</a>
	</div>

	<div class="col-6">
		<a href="https://www.guardiandirectsubs.co.uk/Delivery/Package.aspx" class="offer-panel">
			<h2 class="offer-heading large">Home delivery</h2>
			<div class="offer-star">Includes iPad<span class="break"></span> and iPhone access</div>
			<div class="offer-image cf"><img src="/static/img/home-delivery.jpg" width="380" height="142" alt="" /></div>
			<div class="offer-description">Delivery available within the M25 only<span class="triangle"></span></div>
			<div class="offer-content">
				<ul>
					<li>Subscribe and we will deliver the paper direct to your door</li>
					<li>Receive the paper by 7am (Sunday by 8:30am)</li>
				</ul>
			</div>
			<div class="offer-cta">
				<div class="button">Subscribe</div>
			</div>
		</a>
	</div>
</div>

{% endblock %}
