/* "Grid" updates, le sigh */
.row .col-voucher,
.row .col-weekly {
    width: 272px;
}
.row .col-delivery,
.row .col-mobile,
.row .col-digital,
.row .col-extra {
    position: relative;
    margin-left: 62px;
    width: 272px;
}

.row .col-subscribe {
    width: 606px;
}

.row .col-delivery:before,
.row .col-mobile:before,
.row .col-digital:before,
.row .col-extra:before {
    border-left: 1px solid #999;
    bottom: -1px;
    content: '';
    left: -31px;
    position: absolute;
    top: 0;
    width: 1px;
}
.row .col-mobile:before {
    bottom: -5px;
}
.row .col-digital:before,
.row .col-extra:before {
    top: 15px;
}

/* Landing page */
body {
    font-size: 12px;
    line-height: 17px;
}
ul {
    margin-left: 15px;
}
li {
    margin-bottom: 4px;
}
h1, h2, h3, h4 {
    font-family: "Guardian Egyptian Headline", Georgia, serif;
}
p {
    margin-bottom: 3px;
}
.smaller {
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 8px;
}
.global-header {
	margin-bottom: -7px;
	margin-top: 16px;
}
.footer {
	margin-top: 20px;
}
.guardian-logo {
    margin-right: 11px;
}
.observer-logo {
    background: transparent url(/static/img/border.png) top left no-repeat;
    padding-left: 18px;
}
.row {
	margin-bottom: 10px;
}
.hd {
    background-color: #00386b;
    color: #fff;
    margin-bottom: 0;
    padding: 7px 8px 4px;
}
.content {
    min-height: 152px;
    padding: 6px 0 20px;
    position: relative;
}
.content .green-button {
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
    position: absolute;
}
.thin-content {
    padding: 0 32px 20px;
}
.subscription-content {
    min-height: 215px;
    position: relative;
}
.subscription-content .green-button {
    bottom: 0;
    position: absolute;
}
.col-voucher-background {
    background-color: #e3eaf0;
}
.col-mobile .thin-content {
    padding-bottom: 0;
}
.header {
    background: #00386b url(/static/img/header.png) top right no-repeat;
    color: #fff;
    height: 120px;
    margin-bottom: 15px;
    padding-left: 36px;
}
.header-title {
    font-size: 32px;
    position: relative;
    top: 30px;
}
.header-subtitle {
    font-family: "Guardian Egyptian Text", Georgia, serif;
    font-size: 18px;
    position: relative;
    top: 45px;
}
.paper-only {
    background: #00386b url(/static/img/paper.png) top right no-repeat;
    color: #fff;
    height: 111px;
    margin-top: 5px;
    padding-left: 32px;
}
.paper-only-title {
    font-family: "Guardian Egyptian Headline", Georgia, serif;
    font-size: 28px;
    position: relative;
    top: 26px;
}
.paper-only-subtitle {
    font-family: "Guardian Egyptian Text", Georgia, serif;
    font-size: 18px;
    position: relative;
    top: 45px;
}
.dotted-border {
    margin-bottom: 4px;
    padding-top: 15px;
}
.dotted-border-bottom {
    border-bottom: 1px dotted #666;
    padding-bottom: 15px;
}
a.green-button {
    background-color: #84be43;
    border-color: #84be43;
    font-family: "Guardian Egyptian Text", Georgia, serif;
    padding: 10px 20px 7px;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
a.green-button:hover,
a.green-button:focus {
    background-color: #77ac3b;
    border-color: #77ac3b;
}
a.green-button:active {
    background-color: #6a9935;
    border-color: #6a9935;
    -webkit-box-shadow: 0 2px 5px 2px #6a9935;
    -moz-box-shadow: 0 2px 5px 2px #6a9935;
    box-shadow: inset 0 0 8px #6a9935;
}
.sub-image {
    display: block;
    margin: 8px auto 6px;
}
.sub-options {
    font-size: 14px;
    margin-bottom: 22px;
    margin-top: 20px;
}
.sub-options-title {
    color: #00386b;
    font-family: "Guardian Egyptian Headline", Georgia, serif;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 4px;
    position: relative;
    text-transform: uppercase;
    width: 156px;
}
.sub-options-option {
    margin-bottom: 22px;
}
.sub-options-option strong {
    font-family: "Guardian Egyptian Text", Georgia, serif;
}
.sub-options-title.highlight {
    background-color: #fff;
    border-left: 2px solid #009946;
    border-right: 2px solid #009946;
    border-top: 2px solid #009946;
    margin: -11px -11px 0;
    padding: 9px 9px 0;
    width: auto;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
.sub-options-option.highlight {
    background-color: #fff;
    border-bottom: 2px solid #009946;
    border-left: 2px solid #009946;
    border-right: 2px solid #009946;
    margin: 0 -11px 11px;
    padding: 4px 9px 9px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
.sub-options-saving {
    color: #d61d00;
    float: right;
    font-weight: bold;
    text-transform: uppercase;
}
.sub-options-detail {
    display: block;
    color: #d61d00;
    line-height: 12px;
    font-size: 12px;
    font-weight: bold;
}
.sub-options-value {
    background-color: #009946;
    color: #fff;
    display: block;
    font-family: "Guardian Egyptian Text", Georgia, serif;
    font-size: 12px;
    font-weight: normal;
    height: 35px;
    line-height: 12px;
    padding-top: 9px;
    position: absolute;
    right: -6px;
    top: -22px;
    text-align: center;
    text-transform: none;
    width: 44px;
    -webkit-border-radius: 44px;
    -moz-border-radius: 44px;
    border-radius: 44px;
    -webkit-transform: rotate(7.5deg);
    -moz-transform: rotate(7.5deg);
    -ms-transform: rotate(7.5deg);
    -o-transform: rotate(7.5deg);
    transform: rotate(7.5deg);
}
.sub-options .green-button {
    margin-bottom: 4px;
}
.newline {
    display: block;
}

[class*="col-"].border-left {
    border-left: 1px solid #ccc;
    margin-left: 10px;
    padding-left: 9px;
}
