<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="HandheldFriendly" content="True"/>
    <link rel="stylesheet" href="/static/css/main.min.css"/>
    <!--[if (IE 9)]>
        <link rel="stylesheet" href="/static/css/ie9.min.css"/>
    <![endif]-->
    <!--[if (lt IE 9)]>
        <link rel="stylesheet" href="/static/css/ie-old.min.css"/>
    <![endif]-->
    <link rel="shortcut icon" type="image/png" href="http://assets.guim.co.uk/images/favicons/32x32.ico"/>

    <script type="text/javascript">
        var s_account="guardiangu-subscribe,guardiangu-network";
    </script>
    <script type="text/javascript" src="/static/js/omniture/omniture-2014-11-19.js"></script>
    <script type="text/javascript">
        s.pageName="Subscriptions | The Guardian";
        s.channel = "Subscriber";
        s.prop3="GU.co.uk";
        s.prop5="Subscriber";
        s.prop11="Subscriber";
        s.hier2="GU/News/Subscriber/";
        s.prop14="18.0";
        s.prop19="Subscriber";
        s.eVar19="D=c19";
        s.prop42="Subscriber";
        s.prop47="UK";
        var s_code=s.t();if(s_code)document.write(s_code);
    </script>
</head>
<body>
    <div class="global-header">
        <div class="gs-container">
            <a href="http://www.theguardian.com">
                <span class="u-h">The Guardian Subscriptions</span>
                <i class="icon-logo"></i>
            </a>
        </div>
    </div>
    <div class="gs-container">

        {% block content %}{% endblock %}

        <div class="global-footer">
            <p>For help with Guardian and Observer subscription services please call 0330 333 6767. Open 8am to 8pm, Monday to Sunday.</p>
            <p>You may also find help in our <a href="http://www.theguardian.com/subscriber-direct/subscription-frequently-asked-questions" title="Frequently Asked Questions">Frequently Asked Questions</a>.</p>
        </div>
    </div>
</body>
</html>
