<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="http://pasteup.guim.co.uk/0.0.5/css/pasteup.min.css" />
    <link rel="stylesheet" href="http://pasteup.guim.co.uk/0.0.5/css/fonts.pasteup.min.css" />
    <link rel="stylesheet" href="/static/css/subscription.css" />
    <link rel="stylesheet" href="/static/css/site-notification.css" />
    <link rel="shortcut icon" href="http://static.guim.co.uk/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="wrap">
        <div class="row">
            <div class="col-12">
                <div class="global-header">
                    <a href="http://www.theguardian.com"><img src="/static/img/guardian.png" class="guardian-logo" alt="The Guardian" title="The Guardian" /></a>
                    <img src="/static/img/observer.png" class="observer-logo" alt="The Observer" title="The Observer" />
                </div>
            </div>
        </div>

        {% block content %}{% endblock %}

        <div class="footer zone-border zone-border-medium">
            <p>For help with Guardian and Observer subscription services please call 0808 168 5088. Open 8am to 8pm, Monday to Sunday, freephone number.</p>
            <p>You may also find help in our <a href="http://www.theguardian.com/subscribe/frequently-asked-questions">Frequently Asked Questions</a>.</p>
            <p>*Observer only subscription £6.99 per month, Guardian only subscription £9.99 per month, everyday subscription £11.99 per month.</p>
        </div>
    </div>

    <script type="text/javascript">
        var s_account="guardiangu-subscribe,guardiangu-network";
    </script>
    <script type="text/javascript" src="https://image.guim.co.uk/omni/omniture.js"></script>
    <script type="text/javascript">
        s.pageName="Subscriptions | The Guardian";
        s.channel = "Subscriber";
        s.prop3="GU.co.uk";
        s.prop5="Subscriber";
        s.prop11="Subscriber";
        s.hier2="GU/News/Subscriber/";
        s.prop14="10.0";
        s.prop19="Subscriber";
        s.eVar19="D=c19";
        s.prop42="Subscriber";
        s.prop47="UK";
        var s_code=s.t();if(s_code)document.write(s_code);
    </script>

    <script type="text/javascript" src="//pasteup.guim.co.uk/js/lib/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript" src="//pasteup.guim.co.uk/js/lib/jquery.cookie/1.2/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/static/js/site-notification.js"></script>
    <script src="//cdn.optimizely.com/js/293455139.js"></script>
</body>
</html>
