{% extends 'base.html' %}

{% block title %}Digital Pack | US | The Guardian{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/signup.css"/>
<div id="signup" class="gs-container">
    <div class="wrapper">
      <div class="container"> 

        <!-- digital pack section -->
        <section id="digital_pack" class="clearfix">
          <article>
            <div class="content">
              <h2>The Guardian digital pack, every day from 4am <small>GMT</small></h2>
              <a href="https://www.guardiansubscriptions.co.uk/digitalsubscriptions/?prom=DGA01&CMP=dis_2378" class="button button--large button--primary">Start your 14-day trial now</a>
            </div>
          </article>
        </section>

        <!-- what's included section -->
        <section id="included" class="clearfix">
          <article>
            <div class="content">
              <h2>What's included?</h2>
              <p>Enjoy the Guardian daily edition offline throughout the day, every day, on your tablet or mobile device.</p>
              <div class="included-lockup">
                <div class="pack-list">
                  <h3>The Guardian digital pack</h3>
                  <ul>
                    <li><span>Includes access to the UK daily Android, Kindle Fire and iPad editions</span></li>
                    <li><span>Includes access to our premium mobile app for Android and iOS (including US edition)</span></li>
                    <li><span>Share your subscription on up to 10 devices</span></li>
                    <li><span>Includes Sunday's Observer, with supplements</span></li>
                  </ul>
                </div>
                <div class="image"><img src="/static/img/signup/included-us.png" alt=""></div>
              </div>
            </div>
          </article>
        </section>

        <!-- offer section -->
        <section id="offer" class="clearfix">
          <article>
            <div class="content">
              <h2>The offer</h2>
              <p>Try the new Guardian digital pack free for 14 days.</p> 
              <p><a href="https://www.guardiansubscriptions.co.uk/digitalsubscriptions/?prom=DGA01&CMP=dis_2378" class="button button--large button--primary">Start your 14-day trial now</a></p>
              <ul>
                <li class="cost">
                  <img src="/static/img/signup/icon-price.png">
                  <span>From $19.99 per month (Save up to 70%)</span>
                </li>
                <li class="trial">
                  <img src="/static/img/signup/icon-download.png">
                  <span>14-day free trial</span></p>
                </li>
                <li class="editions">
                  <img src="/static/img/signup/icon-device.png">
                  <span>Daily Android, Kindle Fire and iPad Editions</span>
                </li>
                <li class="premium">
                  <img src="/static/img/signup/icon-premium.png">
                  <span>Premium mobile app</span>
                </li>
              </ul>
            </div>
          </article>
        </section>

        <!-- why subscribe section -->
        <section id="why_subscribe" class="clearfix">
          <article>
            <div class="content">
              <h2>Why subscribe</h2>
              <p>Try the new Guardian digital pack free for 14 days.</p>
              <div class="subscribe-lockup">
                <div class="pack-list">
                  <ul>
                    <li><span>Access to the complete daily edition, every morning from 4am</span></li>
                    <li><span>All the Guardian and Observer digital products in one package, including our premium mobile app, which puts breaking news, live sport and daily crosswords at your fingertips</span></li>
                    <li><span>One tap and your paper is ready to enjoy offline throughout the day on your tablet or mobile device</span></li>
                    <li><span>Enhanced, complementary audio and video content</span></li>
                  </ul>
                  <a href="https://www.guardiansubscriptions.co.uk/digitalsubscriptions/?prom=DGA01&CMP=dis_2378" class="button button--large button--primary">Start your 14-day trial now</a>
                </div>
                <div class="image">
                  <img src="/static/img/signup/subscribe-packshot.png" alt="">
                </div>
              </div>
            </div>
          </article>
        </section>

        <!-- contact section -->
        <section id="contact" class="clearfix">
          <article>
            <div class="content">
              <h2>Contact</h2>

              <div class="">
                <p>For help with Guardian and Observer subscription services please call +44 330 333 6767.</p>
                <p>Open 8am to 8pm GMT, Monday to Sunday.</p>
              </div>
              <div class="">
                <p>You may also find help in our <a href="http://www.theguardian.com/info/2014/aug/06/guardian-observer-digital-subscriptions-faq">Frequently asked questions</a>.</p>
                <p>For contact information, <a href="http://www.theguardian.com/info/2014/aug/06/guardian-observer-digital-subscriptions-faq">click here</a>.</p>
              </div>
            </div>
          </article>
        </section>

      </div>
    </div>
</div>
{% endblock content %}
