{% extends 'base.html' %}

{% block title %}Digital | Subscriptions | The Guardian{% endblock %}

{% block content %}
<div class="gs-container">
    <div class="page-header">
        <h1 class="page-header__title">Digital subscription</h1>
        <p class="page-header__lead">Get the whole picture with enhanced digital access</p>
    </div>
    <div class="row row--items-2 digital-cta">
        <div class="row__item">
            <div class="digital-cta__price"><strong class="digital-cta__amount">&pound;11.99</strong>/month</div>
            <div class="digital-cta__payment">Payment begins after 14 day free trial</div>
        </div>
        <div class="row__item digital-cta__button">
            <a class="button button--large button--primary" href="#">Start your free trial</a>
        </div>
    </div>
    <h2 class="page-heading page-heading--border">What do I get?</h2>
    <div class="row row--items-2">
        <div class="row__item block block--primary block--grey-border">
            <h2 class="block__title">Tablet edition</h2>
            <img class="block__image" src="/static/img/ab/tablet-edition.png">
            <ul class="block__list">
                <li class="block__list-item"><strong>Available offline</strong> &mdash; downloaded automatically by 4am every morning. Perfect for the commute</li>
                <li class="block__list-item"><strong>Curated</strong> &mdash; everything that appears in the newspaper</li>
                <li class="block__list-item"><strong>Collated</strong> &mdash; complete supplements including the Guide, Cook, Do Something, Observer Tech and Food Monthly</li>
                <li class="block__list-item"><strong>Designed</strong> &mdash; specially adapted to your tablet, whether you're using iPad, Android or Kindle Fire</li>
                <li class="block__list-item"><strong>Enhanced</strong> &mdash; embedded audio, video and image galleries &mdash; plus all our crosswords</li>
                <li class="block__list-item"><strong>Plus&hellip;</strong> There's a free 30-day archive of back issues. Take your time, sit back, and enjoy
            </ul>
        </div>
        <div class="row__item block block--primary block--grey-border">
            <h2 class="block__title">Guardian App Premium Tier</h2>
            <img class="block__image" src="/static/img/ab/premium-tier.png">
            <ul class="block__list">
                <li class="block__list-item"><strong>Available offline</strong> &mdash; just tap to read content offline. Perfect for the commute</li>
                <li class="block__list-item"><strong>Advert-free</strong> &mdash; no distractions and more of room for the journalism you love</li>
                <li class="block__list-item"><strong>Premium content</strong> &mdash; crosswords, exclusive articles and new features</li>
                <li class="block__list-item"><strong>Adjustable text size</strong> &mdash; larger text for ease of reading or smaller text to take in a whole article in one swipe</li>
                <li class="block__list-item"><strong>Download on up to 10 devices</strong> &mdash; share it with your friends and family or give it as a gift</li>
                <li class="block__list-item"><strong>Save for later</strong> &mdash; articles stored in your account and available offline</li>
            </ul>
        </div>
    </div>
    <h2 class="page-heading page-heading--border">Why subscribe?</h2>
    <div class="row row--items-3">
        <div class="row__item row--border">
            <h3>Support the Guardian's journalism</h3>
            <p>We invest your money back into funding our open journalism and promoting freedom of speech, making quality news coverage accessible for everyone</p>
        </div>
        <div class="row__item row--border">
            <h3>Environmentally friendly</h3>
            <p>No waste paper gathering on the doorstep means being kinder to the environment as well as less tidying up around the house.</p>
        </div>
        <div class="row__item row--border">
            <h3>Convenience</h3>
            <p>No more elbowing other commuters on the train, the premium mobile app brings breaking news to the palm of your hand wherever you are, whilst the Tablet Edition brings the newspaper to life in a new digital form</p>
        </div>
    </div>
    <h2 class="page-heading page-heading--border">How do I get it?</h2>
    <div class="row row--items-1">
        <div class="row__item">
            <ol class="steps">
                <li class="steps__item">Checkout in the next step and we will send you an access code</li>
                <li class="steps__item">Download the Guardian app on your device(s) from your app store</li>
                <li class="steps__item">Enter your code into the app, and enjoy!</li>
            </ol>
        </div>
    </div>
    <div class="row row--items-2 digital-cta">
        <div class="row__item">
            <div class="digital-cta__price"><strong class="digital-cta__amount">&pound;11.99</strong>/month</div>
            <div class="digital-cta__payment">Payment begins after 14 day free trial</div>
        </div>
        <div class="row__item digital-cta__button">
            <a class="button button--large button--primary" href="#">Start your free trial</a>
        </div>
    </div>
</div>
<div class="footer-promo">
    <div class="gs-container">
        <h3>What happens if I want to cancel my digital subscription?</h3>
        <p>You can read our <a href="#">refunds and cancellation policy</a> (including your legal right to cancel). If for any reason you wish to cancel your subscription you can do so via your online account or by calling our customer services center on 0330 333 6675.</p>
    </div>
</div>
{% endblock content %}
