{% extends 'base.html' %}

{% block title %}Choose your subscription type{% endblock %}

{% block content %}
<div class="row">
	<div class="col-12">
		<div class="hero cf">
			<h1><img src="/static/img/hero.png" width="940" height="320" alt="iPad &#38; iPhone access included when you subscribe to the Guardian or Observer" /></h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h2>Choose a package that is right for you</h2>
	</div>
</div>

<div class="row offers">
	<div class="col-6">
		<div class="offer-panel">
			<h2 class="offer-heading large">Voucher subscription</h2>
			<div class="offer-star">Includes iPad<span class="break"></span> and iPhone access</div>
			<div class="offer-image cf"><img src="/static/img/print-digital.jpg" width="380" height="142" alt="" /></div>
			<div class="offer-description">Save up to 41% on the retail price<span class="triangle"></span></div>
			<div class="offer-content">
				<ul>
					<li>Subscribe and we will send you a book of vouchers</li>
					<li>Redeem your voucher at 1000s of local newsagents (delivery not included)</li>
				</ul>
			</div>
			<div class="offer-cta">
                <a href="https://guardiansubscriptions-uat.quadrantsubs.com/Voucher" class="button">Subscribe</a>
			</div>
		</div>
	</div>

	<div class="col-6">
		<div class="offer-panel">
			<h2 class="offer-heading large">Home delivery</h2>
			<div class="offer-star">Includes iPad<span class="break"></span> and iPhone access</div>
			<div class="offer-image cf"><img src="/static/img/home-delivery.jpg" width="380" height="142" alt="" /></div>
			<div class="offer-description">Delivery available within the M25 only<span class="triangle"></span></div>
			<div class="offer-content">
				<ul>
					<li>Subscribe and we will deliver the paper direct to your door</li>
					<li>Receive the paper by 7am (Sunday by 8:30am)</li>
				</ul>
			</div>
			<div class="offer-cta">
				<a href="http://demo19.broadsystem.com/Delivery/Package.aspx" class="button">Subscribe</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
