{% extends 'base.html' %}

{% block title %}Subscriptions | The Guardian{% endblock %}

{% block content %}
<div class="row row--items-1">
    <div class="row__item page-header">
        <h1 class="page-header__title">Pick the best subscription package for you</h1>
    </div>
</div>
<div class="row row--items-2">
    <div class="row__item block">
        <h2 class="block__title">Digital pack</h2>
        <div class="block__info">
            <a href="https://www.guardiansubscriptions.co.uk/digitalsubscriptions/?prom=DGA01">
                <img class="block__image block__image--wide hidden-mobile" src="/static/img/digital_pack.png"/>
            </a>
            <em>New from the Guardian</em>
            <ul class="block__list">
                <li class="block__list-item">14-day free trial</li>
                <li class="block__list-item"><strong>Save up to 75%</strong></li>
                <li class="block__list-item">Access to the daily edition and premium Guardian app</li>
                <li class="block__list-item">Available on Apple, Android and Kindle Fire</li>
                <li class="block__list-item">Use on up to 10 devices</li>
            </ul>
        </div>
        <div class="block__buttons">
            <a class="button button--large button--primary" href="https://www.guardiansubscriptions.co.uk/digitalsubscriptions/?prom=DGA01">Subscribe now</a>
        </div>
    </div>
    <div class="row__item block">
        <h2 class="block__title">Guardian Weekly</h2>
        <div class="block__info">
            <a href="https://www.myguardianweekly.co.uk/subscribe/?prom=FGA04&amp;INTCMP=dis_231550">
                <img class="block__image block__image--wide hidden-mobile" src="/static/img/paper_digital.png"/>
            </a>
            <ul class="block__list">
                <li class="block__list-item">Subscribe to the Guardian Weekly and as well as condensing everything important from around the globe into each weekly issue, we'll deliver your copy straight to your door. You'll make a significant saving on the shop price.</li>
            </ul>
        </div>
        <div class="block__buttons">
            <a class="button button--large button--primary" href="https://www.myguardianweekly.co.uk/subscribe/?prom=FGA04&amp;INTCMP=dis_231550">Subscribe now</a>
        </div>
    </div>
</div>
<div class="row row--items-2">
    <div class="row__item block">
        <h2 class="block__title">Guardian Membership</h2>
        <div class="block__info">
            <ul class="block__list">
                <li class="block__list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod
                tempor incididunt.</li>
                <li class="block__list-item">Ut enim ad minim veniam quis nostrud</li>
                <li class="block__list-item">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
            </ul>
        </div>
        <div class="block__buttons">
            <a class="button button--large button--primary" href="#">Join now</a>
        </div>
    </div>
    <div class="row__item block">
        <h2 class="block__title">Guardian email services</h2>
        <div class="block__info">
            <ul class="block__list">
                <li class="block__list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod
                tempor incididunt.</li>
                <li class="block__list-item">Ut enim ad minim veniam quis nostrud</li>
                <li class="block__list-item">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
            </ul>
        </div>
        <div class="block__buttons">
            <a class="button button--large button--primary" href="#">Sign up</a>
        </div>
    </div>
</div>
<div class="row row--items-1">
    <div class="row__item block">
        <h2 class="block__title">Guardian corperate subscriptions</h2>
        <div class="block__info">
            <ul class="block__list">
                <li class="block__list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod
                tempor incididunt.</li>
                <li class="block__list-item">Ut enim ad minim veniam quis nostrud</li>
                <li class="block__list-item">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
            </ul>
        </div>
        <div class="block__buttons">
            <a class="button button--large button--primary" href="#">Find out more</a>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
    <p>For help with Guardian and Observer subscription services please email <a href="mailto:">xxx@theguardian.com</a>.</p>
    <p>You may also find help in our <a href="http://www.theguardian.com/subscriber-direct/subscription-frequently-asked-questions" title="Frequently Asked Questions">Frequently Asked Questions</a>.</p>
{% endblock footer %}
