{% extends 'base.html' %}

{% block title %}Subscriptions | The Guardian{% endblock %}

{% block content %}
<div class="row row--items-1">
    <div class="row__item page-header">
        <h1 class="page-header__title">Subscriptions and Membership</h1>
    </div>
</div>
<div class="row row--items-2">
    <div class="row__item block">
        <h2 class="block__title">Subscribe to the Guardian digital pack</h2>
        <div class="block__info">
            <a href="https://www.guardiansubscriptions.co.uk/digitalsubscriptions/?prom=DGA01">
                <img class="block__image block__image--wide hidden-mobile" src="/static/img/digital_pack.png"/>
            </a>
            <ul class="block__list">
                <li class="block__list-item">Access to the daily edition and premium Guardian app</li>
                <li class="block__list-item">Available on Apple, Android and Kindle Fire</li>
                <li class="block__list-item"><strong>Save up to 75%</strong></li>
                <li class="block__list-item">14-day free trial</li>
            </ul>
        </div>
        <div class="block__buttons">
            <a class="button button--large button--primary" href="https://www.guardiansubscriptions.co.uk/digitalsubscriptions/?prom=DGA01">Subscribe now</a>
        </div>
    </div>
    <div class="row__item block">
        <h2 class="block__title">Subscribe to the Guardian Weekly</h2>
        <div class="block__info">
            <a href="https://www.myguardianweekly.co.uk/subscribe/?prom=FGA04&amp;INTCMP=dis_231550">
                <img class="block__image block__image--wide hidden-mobile" src="/static/img/paper_digital.png"/>
            </a>
            <ul class="block__list">
                <li class="block__list-item">Editorial from the Guardian, Observer, Washington Post and Le Monde</li>
                <li class="block__list-item">A unique blend of international news, politics, culture and comment</li>
                <li class="block__list-item"><strong>Save up to 25%</strong> on the retail price</li>
                <li class="block__list-item">Free delivery to your door, wherever you are in the world</li>
            </ul>
        </div>
        <div class="block__buttons">
            <a class="button button--large button--primary" href="https://www.myguardianweekly.co.uk/subscribe/?prom=FGA04&amp;INTCMP=dis_231550">Subscribe now</a>
        </div>
    </div>
</div>
<div class="row row--items-1">
    <div class="row__item block">
        <h2 class="block__title">Join Guardian Membership</h2>
        <div class="block__info">
            <p>Support open journalism and be part of the conversations that matter.</p>
            <p>Join and be closer to the Guardian</p>
        </div>
        <div class="block__buttons">
            <a class="button button--large button--primary" href="https://membership.theguardian.com/join">Join now</a>
        </div>
    </div>
</div>
<div class="row row--items-2">
    <div class="row__item block">
        <h2 class="block__title">Guardian email services</h2>
        <div class="block__info">
            <ul class="block__list">
                <li class="block__list-item">Whether it's news, comment, sport or culture - get the content you want, straight to your inbox</li>
                <li class="block__list-item">Our editors' picks direct to your inbox every day, including our daily editions available for the UK, US and Australia</li>
                <li class="block__list-item">Sign up to emails from your favourite Guardian sections, from football to food and fashion</li>
            </ul>
        </div>
        <div class="block__buttons">
            <a class="button button--large button--primary" href="https://profile.theguardian.com/email-prefs">Sign up</a>
        </div>
    </div>
    <div class="row__item block">
        <h2 class="block__title">Guardian corporate subscriptions</h2>
        <div class="block__info">
            <ul class="block__list">
                <li class="block__list-item">Provide your staff with quality journalism from the Guardian</li>
                <li class="block__list-item">Entirely digital for accessibility</li>
                <li class="block__list-item">The live news app at the premium tier, an advert free experience</li>
                <li class="block__list-item">The daily edition, the digital version of the Guardian newspaper</li>
                <li class="block__list-item">Available on Apple, Android and Kindle Fire</li>
            </ul>
        </div>
        <div class="block__buttons">
            <a class="button button--large button--primary" href="#">Find out more</a>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
    <p>For help with Guardian and Observer subscription services please see our <a href="http://www.theguardian.com/subscriber-direct/subscription-frequently-asked-questions" title="Frequently Asked Questions">Frequently Asked Questions</a>.</p>
    <div class="really-serious-copyright">© 2014 Guardian News and Media Limited or its affiliated companies. All rights reserved</div>
{% endblock footer %}
