{% extends 'base.html' %}

{% block title %}Subscriptions | The Guardian{% endblock %}

{% block content %}
<div class="row row--items-1">
    <div class="row__item page-header">
        <h1 class="page-header__title">Pick the best subscription package for you</h1>
    </div>
</div>
<div class="row row--items-3 dotted-border">
    <div class="row__item subscription">
        <h2 class="subscription__title">Paper and digital</h2>
        <div class="subscription__info">
            <a href="https://www.guardiansubscriptions.co.uk/Voucher?prom=faa02&amp;pkgcode=ukx01&amp;title=gv7&amp;skip=1">
                <img class="subscription__image subscription__image--wide hidden-mobile" src="/static/img/paper_digital.png"/>
            </a>
            <ul>
                <li><strong>Save up to 60%</strong> on the Guardian and Observer newspapers and digital edition</li>
                <li>All Supplements Monday to Sunday</li>
                <li>Instant access to the daily edition and premium Guardian app</li>
            </ul>
        </div>
        <div class="subscription__buttons">
            <a class="button button--large button--wide" href="https://www.guardiansubscriptions.co.uk/Voucher?prom=faa02&amp;pkgcode=ukx01&amp;title=gv7&amp;skip=1">Subscribe now</a>
        </div>
    </div>
    <div class="row__item subscription">
        <h2 class="subscription__title">Paper only</h2>
        <div class="subscription__info">
            <a href="https://www.guardiansubscriptions.co.uk/Voucher?prom=faa02&amp;pkgcode=ukx00&amp;title=ov1&amp;skip=1">
                <img class="subscription__image subscription__image--wide hidden-mobile" src="/static/img/paper_only.png"/>
            </a>
            <ul>
                <li><strong>Save up to 25%</strong> on the Guardian and Observer newspapers</li>
                <li>Pick the package you want: Everyday, Sixday and Weekend</li>
                <li>All supplements Monday to Sunday</li>
            </ul>
        </div>
        <div class="subscription__buttons">
            <a class="button button--large button--wide" href="https://www.guardiansubscriptions.co.uk/Voucher?prom=faa02&amp;pkgcode=ukx00&amp;title=ov1&amp;skip=1">Subscribe now</a>
        </div>
    </div>
    <div class="row__item subscription">
        <h2 class="subscription__title">Digital pack</h2>
        <div class="subscription__info">
            <a href="https://www.guardiansubscriptions.co.uk/digitalsubscriptions/?prom=DGA01">
                <img class="subscription__image subscription__image--wide hidden-mobile" src="/static/img/digital_pack.png"/>
            </a>
            <em>New from the Guardian</em>
            <ul>
                <li>14-day free trial</li>
                <li><strong>Save up to 75%</strong></li>
                <li>Access to the daily edition and premium Guardian app</li>
                <li>Available on Apple, Android and Kindle Fire</li>
                <li>Use on up to 10 devices</li>
            </ul>
        </div>
        <div class="subscription__buttons">
            <a class="button button--large button--wide" href="https://www.guardiansubscriptions.co.uk/digitalsubscriptions/?prom=DGA01">Subscribe now</a>
        </div>
    </div>
</div>
<div class="row row--items-1 dotted-border">
    <div class="row__item subscription subscription--m25">
        <h2 class="subscription__title">Live within the M25?</h2>
        <div class="subscription__buttons">
            <a class="button button--large button--secondary" href="https://www.guardiandirectsubs.co.uk/Delivery/Package.aspx?INTCMP=M25">Select a Home Delivery pack now</a>
        </div>
    </div>
</div>
<div class="row row--items-3 dotted-border">
    <div class="row__item subscription">
        <h2 class="subscription__title">Guardian Weekly</h2>
        <img class="subscription__image--wide hidden-mobile" src="/static/img/guardian_weekly.png"/>
        <div class="subscription__info">
            <p>Subscribe to the Guardian Weekly and as well as condensing everything important from around the globe into each weekly issue, we'll deliver your copy straight to your door. You'll make a significant saving on the shop price.</p>
        </div>
        <div class="subscription__buttons">
            <a class="button button--large button--primary" href="https://www.myguardianweekly.co.uk/subscribe/?prom=FGA04&amp;INTCMP=dis_231550">Subscribe now</a>
        </div>
    </div>
    <div class="row__item subscription">
        <h2 class="subscription__title">Guardian Extra</h2>
        <img class="subscription__image--wide hidden-mobile" src="/static/img/guardian_extra.png"/>
        <div class="subscription__info">
            <p>Sign up for free and enjoy benefits such as invitations to exclusive events with our award-winning journalists, newsroom visits, a weekly email newsletter, variety of special offers, discounts from our partners in the arts and much more.</p>
        </div>
        <div class="subscription__buttons">
            <a class="button button--large button--primary" href="http://www.theguardian.com/extra">Sign up now</a>
        </div>
    </div>
    <div class="row__item subscription">
        <h2 class="subscription__title">From the app store</h2>
        <img class="subscription__image--wide hidden-mobile" src="/static/img/app_store.png"/>
        <div class="subscription__info">
            <p>Subscribe to our daily edition or Guardian app from the appstore.</p>
            <p>Free trials available to new customers.</p>
            <p>Available across iPad, Kindle Fire, Android and iPhone.</p>
        </div>
        <div class="subscription__buttons">
            <a class="button button--large button--primary" href="http://www.theguardian.com/mobile/2014/may/29/the-guardian-for-mobile-and-tablet">Find out more</a>
        </div>
    </div>
</div>
{% endblock content %}
