{% extends 'base.html' %}

{% block title %}Subscriptions | The Guardian{% endblock %}

{% block content %}

<div class="header">
    <h1 class="header-title">Pick the best package for you</h1>
    <p class="header-subtitle">Call <strong>0808 168 5088</strong> to subscribe</p>
</div>
<div class="row dotted-border">
    <div class="col-8 col-subscribe">
        <div class="row">
            <div class="col-4 col-voucher dotted-border-bottom">
                <div class="col-inner">
                    <div class="hd">
                        <h2>Voucher subscription</h2>
                    </div>
                    <img src="/static/img/voucher.png" class="sub-image" alt="Voucher subscription, includes iPad and iPhone access"/>
                    <ul class="subscription-content">
                        <li>Save up to 32% on your subscription package</li>
                        <li>Receive personalised vouchers redeemable at thousands of local retailers</li>
                        <li>Instant access to our tablet editions and Premium tiers of our iPhone and Android apps</li>
                    </ul>
                    <ul class="sub-options unstyled">
                        <li>
                            <a href="https://www.guardiansubscriptions.co.uk/Voucher?prom=faa02&amp;pkgcode=ukx01&amp;title=gv7&amp;skip=1" class="sub-options-link highlight">
                                <span class="sub-options-value">Best value</span>
                                <span class="sub-options-title">Everyday+</span>
                                <span class="sub-options-option">
                                    <strong>&pound;9.99</strong> per week <span class="sub-options-saving">Save 52%</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.guardiansubscriptions.co.uk/Voucher?prom=faa02&amp;pkgcode=ukx01&amp;title=gv6&amp;skip=1" class="sub-options-link">
                                <span class="sub-options-title">Sixday+</span>
                                <span class="sub-options-option">
                                    <strong>&pound;8.99</strong> per week <span class="sub-options-saving">Save 50%</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.guardiansubscriptions.co.uk/Voucher?prom=faa02&amp;pkgcode=ukx01&amp;title=gv2&amp;skip=1" class="sub-options-link">
                                <span class="sub-options-title">Weekend+</span>
                                <span class="sub-options-option">
                                    <strong>&pound;5.99</strong> per week <span class="sub-options-saving">Save 56%</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.guardiansubscriptions.co.uk/Voucher?prom=faa02&amp;pkgcode=ukx01&amp;title=ov1&amp;skip=1" class="sub-options-link">
                                <span class="sub-options-title">Sunday+</span>
                                <span class="sub-options-option">
                                    <strong>&pound;4.99</strong> per week <span class="sub-options-saving">Save 56%</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4 col-delivery dotted-border-bottom">
                <div class="col-inner">
                    <div class="hd">
                        <h2>Home delivery subscription</h2>
                    </div>
                    <img src="/static/img/delivery.png" class="sub-image" alt="Home delivery to your door"/>
                    <ul class="subscription-content">
                        <li>Available for customers living within the M25</li>
                        <li>Mon-Sat papers direct to your door by 7 am (Sunday by 8.30 am)</li>
                        <li>Instant access to our tablet editions and Premium tiers of our iPhone and Android apps</li>
                    </ul>
                    <ul class="sub-options unstyled">
                        <li>
                            <a href="http://www.guardiandirectsubs.co.uk/Delivery/details.aspx?package=EVERYDAY%2B" class="sub-options-link">
                                <span class="sub-options-title">Everyday+</span>
                                <span class="sub-options-option"><strong>&pound;13.99</strong> per week 
                                    <span class="sub-options-saving">Save 32%</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.guardiandirectsubs.co.uk/Delivery/details.aspx?package=SIXDAY%2B" class="sub-options-link">
                                <span class="sub-options-title">Sixday+</span>
                                <span class="sub-options-option"><strong>&pound;11.99</strong> per week
                                    <span class="sub-options-saving">Save 33%</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.guardiandirectsubs.co.uk/Delivery/details.aspx?package=WEEKEND%2B" class="sub-options-link">
                                <span class="sub-options-title">Weekend+</span>
                                <span class="sub-options-option"><strong>&pound;7.99</strong> per week
                                    <span class="sub-options-saving">Save 41%</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.guardiandirectsubs.co.uk/Delivery/details.aspx?package=SUNDAY%2B" class="sub-options-link">
                                <span class="sub-options-title">Sunday+</span>
                                <span class="sub-options-option"><strong>&pound;5.99</strong> per week
                                    <span class="sub-options-saving">Save 47%</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row no-margin">
            <div class="col-8 col-subscribe">
                <div class="paper-only">
                    <h2 class="paper-only-title">Just want the paper?</h2>
                    <a href="https://guardiansubscriptions-uat.quadrantsubs.com/Voucher?prom=FAA02&pkgcode=ukx00">
                        <img class="paper-only-image" src="/static/img/paper.png" alt="Paper only"/>
                    </a>
                    <p class="paper-only-subtitle"><a href="https://guardiansubscriptions-uat.quadrantsubs.com/Voucher?prom=FAA02&pkgcode=ukx00">Select your pack now</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 col-mobile">
        <div class="col-inner">
            <div class="hd">
                <h2>Mobile subscription</h2>
            </div>
            <img src="/static/img/mobile.png" class="sub-image" alt="Mobile subscription range"/>
            <ul class="subscription-content">
                <li>Free trials available to new customers</li>
                <li>Available across iPad, Kindle Fire, Android, iPhone and Kindle e-reader</li>
                <li>Read your news whenever and wherever you are</li>
            </ul>
            <ul class="sub-options unstyled">
<!--                 <li>
                    <a href="http://www.theguardian.com/mobile/ipad/guardian-ipad-edition" class="sub-options-link">
                        <span class="sub-options-title">Guardian <span class="newline">&amp; Observer</span> iPad edition</span>
                        <span class="sub-options-option">
                            <span class="sub-options-detail">Free 2 week trial</span>
                            <strong>&pound;11.99</strong> per month
                        </span>
                    </a>
                </li> -->
                <li>
                    <a href="https://itunes.apple.com/gb/app/guardian-observer-ipad-edition/id452707806" class="sub-options-link">
                        <span class="sub-options-title">iPad edition</span>
                        <span class="sub-options-option">
                            <span class="sub-options-detail">Free 2 week trial</span>
                            From just <strong>&pound;6.99</strong> per month
                        </span>
                    </a>
                </li>
<!--                 <li>
                    <a href="http://www.theguardian.com/mobile/iphone/guardian" class="sub-options-link">
                        <span class="sub-options-title">iPhone app</span>
                        <span class="sub-options-option">
                            <span class="sub-options-detail">Free version now available</span>
                            <strong>&pound;3.99</strong> per 6 months for Premium tier
                        </span>
                    </a>
                </li> -->
                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.guardian.android.tabletedition.google" class="sub-options-link">
                        <span class="sub-options-title">Android Edition</span>
                        <span class="sub-options-option">
                            <span class="sub-options-detail">Free 2 week trial</span>
                            From just <strong>&pound;6.99</strong> per month
                        </span>
                    </a>
                </li>
                <li>
                    <a href="http://www.amazon.co.uk/Guardian-News-Media-tablet-edition/dp/B00H9I8MBK/ref=sr_1_5?s=mobile-apps&ie=UTF8&qid=1387363924&sr=1-5&keywords=Guardian+News+%26+Media" class="sub-options-link">
                        <span class="sub-options-title">Kindle Fire edition</span>
                        <span class="sub-options-option">
                            <span class="sub-options-detail">Free 2 week trial</span>
                            From just <strong>&pound;6.99</strong> per month
                        </span>
                    </a>
                </li>
                <li>
                    <a href="http://www.amazon.co.uk/The-Guardian-and-the-Observer/dp/B004MME3M8" class="sub-options-link">
                        <span class="sub-options-title">Kindle e-reader edition</span>
                        <span class="sub-options-option">
                            <span class="sub-options-detail">Free 2 week trial</span>
                            <strong>&pound;9.99</strong> per month
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://itunes.apple.com/gb/app/the-guardian/id409128287" class="sub-options-link">
                        <span class="sub-options-title">iPhone live news app</span>
                        <span class="sub-options-option">
                            <span class="sub-options-detail">Free version now available</span>
                            <strong>&pound;0.69</strong> per month for Premium tier
                        </span>
                    </a>
                </li> 
                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.guardian&hl=en_GB" class="sub-options-link">
                        <span class="sub-options-title">Android live news app</span>
                        <span class="sub-options-option">
                            <span class="sub-options-detail">Free version now available</span>
                            <strong>&pound;0.69</strong> per month for Premium tier
                        </span>
                    </a>
                </li>                                                
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4 col-weekly dotted-border">
        <div class="hd">
            <h2>The Guardian Weekly</h2>
        </div>
        <img src="/static/img/weekly.png" class="The Guardian weekly"/>
        <div class="content">
            <p>Subscribe to the Guardian Weekly and as well as condensing everything important from around the globe into each weekly issue, we'll deliver your copy straight to your door. You'll make a significant saving on the shop price, plus you'll also get instant access to our digital edition, which is available across multiple platforms.</p>
            <a href="http://www.theguardian.com/weekly?INTCMP=SRCH">Find out more</a>.
            <a class="button green-button" href="https://www.myguardianweekly.co.uk/subscribe/">Subscribe now &raquo;</a>
        </div>
    </div>
    <div class="col-4 col-digital dotted-border">
        <div class="hd">
            <h2>The Digital Edition</h2>
        </div>
        <img src="/static/img/paper_slim.png" class="The Digital Edition"/>
        <div class="content">
            <p>Subscribe to our digital edition to read full issues of the Guardian and The Observer across multiple devices. You can read the paper as printed in a digital edition on your computer or laptop, or you can export issues to your e-reader.</p>
            <a class="button green-button" href="http://guardian.newspaperdirect.com/epaper/viewer.aspx">Subscribe now &raquo;</a>
        </div>
    </div>
    <div class="col-4 col-extra dotted-border">
        <div class="hd">
            <h2>Guardian Extra</h2>
        </div>
        <img src="/static/img/extra.png" alt="Guardian Extra"/>
        <div class="content">
            <p>Sign up for free and enjoy benefits such as invitations to exclusive events with our award-winning journalists, newsroom visits, a weekly email newsletter, variety of special offers, discounts from our partners in the arts and much more.</p>
            <a class="button green-button" href="http://www.theguardian.com/extra">Sign-up now &raquo;</a>
        </div>
    </div>
</div>
{% endblock content %}
