{% extends 'base.html' %}

{% block title %}Subscriptions | The Guardian{% endblock %}

{% block content %}

<header>
  <h1>Pick the best package for you</h1>
  <p>Call 0808 168 5088 to subscribe</p>
</header>

<div class="row">
  <section class="col-4">
    <header>
      <h2>Voucher subscription</h2>
    </header>
    <p>Content</p>
  </section>

  <section class="col-4">
    <header>
      <h2>Home delivery subscription</h2>
    </header>
    <p>Content</p>
  </section>

  <section class="col-4">
    <header>
      <h2>Mobile subscription</h2>
    </header>
    <p>Content</p>
  </section>

  <div>
    <p>Just want the paper?</p>
    <p>Call 0808 168 5088</p>
  </div>
</div>

<div class="row">
  <section class="col-4">
    <header>
      <h2>The Guardian Weekly</h2>
    </header>
    <p>Content</p>
  </section>

  <section class="col-4">
    <header>
      <h2>The Digital Edition</h2>
    </header>
    <p>Content</p>
  </section>

  <section class="col-4">
    <header>
      <h2>Guardian Extra</h2>
    </header>
    <p>Content</p>
  </section>
</div>
{% endblock content %}
