{% extends 'base.html' %}

{% block title %}Choose your subscription type{% endblock %}

{% block content %}
<div class="row">
	<div class="col-12">
		<div class="hero cf">
			<h1><img src="static/img/hero.png" width="940" height="320" alt="iPad &#38; iPhone access included when you subscribe to the Guardian or Observer" /></h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h2>Sign up for this limited special offer&hellip;</h2>
	</div>
</div>

<div class="row offers">
	<div class="col-6">
		<div class="offer-panel">
			<h2 class="offer-heading large">Limited offer</h2>
			<div class="offer-star">Includes iPad<span class="break"></span> and iPhone access</div>
			<div class="offer-image cf"><img src="/static/img/print-digital.jpg" width="380" height="142" alt="" /></div>
			<div class="offer-description">Amazing detail of this offer<span class="triangle"></span></div>
			<div class="offer-content">
				<ul>
					<li>Collect your paper from 1000s of local newsagents and supermarkets</li>
					<li>Discount on our 7 day, 6 day, weekend or Sunday Observer subscriptions</li>
				</ul>
			</div>
			<div class="offer-cta">
				<form action="https://guardiansubscriptions-uat.quadrantsubs.com/voucher/order/package-options" method="get">
					<input type="hidden" name="showaddressnotvalidmessage" value="true" />
					<input type="hidden" name="prom" value="TAA01" />
					<button class="button" type="submit">Subscribe</button>
				</form>
			</div>
		</div>
	</div>

	<div class="col-6">
		<div class="offer-panel">
			<h2 class="offer-heading large">Other ways to get the Guardian</h2>
			<div class="offer-image cf"><img src="/static/img/home-delivery.jpg" width="380" height="142" alt="" /></div>
			<div class="offer-description">Paper, tablet and mobile<span class="triangle"></span></div>
			<div class="offer-content">
				<ul>
					<li>Live within the M25? We can deliver yourpaper directly to you every day</li>
					<li>iPad and Kindle editions, iPhone and Android apps are available</li>
				</ul>
			</div>
			<div class="offer-cta">
				<a href="/delivery" class="button">Find out more</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}