{% extends 'base.html' %}
{% block title %}Choose your bundle{% endblock %}

{% block content %}
<div class="row">
	<div class="col-12">
		<div class="breadcrumb cf">
			<ul class="items">
				<li class="item complete"><a href="/"><i></i>Choose a package<b></b></a></li>
				<li class="item complete"><a href="/details"><i></i>Your details<b></b></a></li>
				<li class="item"><i></i>Choose payment<b></b></li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h2>You have chosen</h2>
		<p>7 day Guardian and Observer. Save 38%. iPad and iPhone access included. <a href="/">Change</a></p>
	</div>
</div>

<div class="row">
	{% include "snippet/payment-form.html" %}
</div>
{% endblock %}
