{% extends 'base.html' %}
{% import 'macro/repeaters.html' as repeaters %}
{% block title %}Choose your bundle{% endblock %}

{% block content %}
<div class="row">
	<div class="col-12">
		<div class="breadcrumb cf">
			<ul class="items">
				<li class="item complete"><i></i>Choose a package<b></b></li>
				<li class="item complete"><i></i>Your details<b></b></li>
				<li class="item complete"><i></i>Choose payment<b></b></li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h2>Thank you</h2>
		<p>Thank you for subscribing to the Guardian and/or Observer. You will receive a confirmation email shortly.</p>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h2>What happens next?</h2>
		<div class="margin-top">
			{% if method == 'delivery' %}
				{{ repeaters.howitworks(['deliver', 'apps', 'help']) }}
			{% else %}
				{{ repeaters.howitworks(['courier', 'apps', 'help']) }}
			{% endif %}
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 button-links">
		<a href="" class="cf button pull-left">Download iPad app</a>
		<a href="" class="cf button pull-left">Download iPhone app</a>
		<a href="" class="cf button pull-left">Go to Guardian website</a>
	</div>
</div>

{% endblock %}