{% extends 'base.html' %}
{% import 'macro/repeaters.html' as repeaters %}
{% import 'macro/snippets.html' as snippets %}

{% block title %}Choose your bundle{% endblock %}

{% block content %}
<div class="row">
	<div class="col-12">
		<div class="breadcrumb cf">
			<ul class="items">
				<li class="item active"><i></i>Choose a package<b></b></li>
				<li class="item"><i></i>Your details<b></b></li>
				<li class="item"><i></i>Choose payment<b></b></li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h2>How our voucher scheme works</h2>
	</div>
</div>

{{ repeaters.howitworks(['starting-date', 'courier', 'redeem', 'apps'], scheme = 'voucher') }}

<div class="row">
	<div class="col-12 margin-top">
		<h2>Choose a voucher scheme package</h2>
	</div>
</div>

<div class="row">
	{{ snippets.bundle_selector() }}
</div>
{% endblock %}