
// Hide content visually, still readable by screen readers
@mixin u-h {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

%u-h,
.u-h {
    @include u-h;
}

.hidden-mobile {
    @include mq($until: tablet) {
        display: none !important;
    }
}
