
body {
    margin: 0;
}

/* Set max width */
@mixin gs-container {
    position: relative;
    margin: 0 auto;
    max-width: gs-span(12) + $gs-gutter*2;
    padding-left: $gs-gutter/2;
    padding-right: $gs-gutter/2;
}

@include grid-system;

/* Setup rows */
@include guss-row-utility;
@include guss-row('.row');

.row__item {
    margin-bottom: $gs-baseline*2;

    @include mq(tablet) {
        & + & {
            border-left: $gs-gutter solid $c-white;
        }
    }
}
