
$guss-colours: $pasteup-palette;

$c-brand: guss-colour(guardian-brand);
$c-brand-dark: guss-colour(guardian-brand-dark);

$c-neutral1: guss-colour('neutral-1');
$c-neutral2: guss-colour('neutral-2');
$c-neutral5: guss-colour('neutral-5');
$c-neutral8: guss-colour('neutral-8');

$c-bg: #f4f4f4;
$c-body: $c-neutral1;
$c-white: #fff;
