
/* Blocks */
.block {
    background-color: $c-neutral6;
    position: relative;
}

.block__title {
    @include fs-headline(5);
    border-top: 1px solid $c-brand-dark;
    margin-bottom: $gs-baseline;
    padding: $gs-baseline/2 $gs-gutter/2 0;

    @include mq(tablet) {
        margin-bottom: $gs-baseline*2;
    }
}

.block__image {
    margin-bottom: $gs-baseline;
    width: 100%;
}

.block__info {
    padding-left: $gs-gutter/2;
    padding-right: $gs-gutter/2;
    margin-bottom: $gs-baseline;

    @include mq(tablet) {
        padding-bottom: $gs-baseline*5;
    }
}

.block__list {
    list-style: none;
    padding-left: $gs-gutter;
}

.block__list-item:before {
    background-color: $c-neutral3;
    border-radius: 12px;
    content: '';
    display: inline-block;
    height: 12px;
    margin-left: -18px;
    margin-right: 6px;
    width: 12px;
}

.block__buttons {
    padding-left: $gs-gutter/2;
    padding-bottom: $gs-baseline*2;

    @include mq(tablet) {
        position: absolute;
        bottom: 0;
        padding-top: $gs-baseline;
    }

    // TODO: will become global style
    .button {
        font-size: 14px;
        line-height: 36px;
        padding-left: $gs-gutter;
        padding-right: $gs-gutter/4;
        min-width: 160px;

        &:after {
            background-image: url(../img/arrow.png);
            background-repeat: no-repeat;
            content: '';
            float: right;
            height: 18px;
            margin: 7px 0 0 $gs-gutter;
            width: 20px;
        }
    }
}
