
body {
    background-color: $c-bg;

    > .gs-container {
        background-color: $c-white;
    }
}

.global-header {
    background-color: $c-brand;

    @include mq(420px) {
        text-align: right;
    }

    .icon-logo {
        background-image: url(../img/logo.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        display: inline-block;
        height: 8em;
        width: 100%;
        max-width: 420px;
        margin: 0 auto;

        @include mq(420px) {
            margin: 0;
        }
    }
}

.page-header {
    padding-top: $gs-baseline/2;
}

.page-header__title {
    @include fs-headline(9);
    margin-bottom: $gs-baseline*1.5;
}

.global-footer {
    @include fs-bodyCopy(1);
    background-color: $c-neutral5;
    color: $c-body;
    padding: $gs-baseline $gs-gutter;

    a {
        color: $c-body;
    }
}
