
body {
    background-color: $c-bg;

    > .gs-container {
        background-color: $c-white;
    }
}

.global-header {
    background-color: $c-brand;
    text-align: right;
}

.global-header__nav {
    font-family: $f-serif-text;
    font-weight: bold;
    font-size: 14px;
    line-height: 36px;
    text-transform: lowercase;
    padding-top: $gs-baseline/2;

    .action {
        color: $c-white;
        margin-left: $gs-gutter*.75;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }
}

.global-nav {
    background-color: $c-brand-mid;

    .gs-container {
        background-color: $c-brand-dark;
        min-height: $gs-baseline*3;
    }
}

.global-brandbar {
    background-color: $c-brand;

    > .gs-container {
        background-color: $c-brand-dark;
    }

    .action {
        color: $c-white;
        font-size: 14px;
        text-decoration: none;
        text-transform: lowercase;
    }
}

.global-footer {
    @include fs-textSans(3);
    background-color: $c-neutral5;
    color: $c-body;
    padding: $gs-baseline*2 $gs-gutter;

    a {
        color: inherit;
    }

    .really-serious-copyright {
        @include fs-textSans(1);
        border-top: 1px solid $c-neutral3;
        margin-top: $gs-baseline*1.5;
        padding-top: $gs-baseline;
    }
}

.page-header {
    padding-top: $gs-baseline/2;

    @include mq(tablet) {
        margin-bottom: $gs-baseline*4;
    }
}

.page-header__title {
    @include f-headline;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: $gs-baseline*1.5;

    @include mq(tablet) {
        font-size: 42px;
        line-height: 46px;
    }
}

// TODO: will become global style
.button--arrow {
    font-size: 14px;
    line-height: 36px;
    padding-left: $gs-gutter;
    padding-right: $gs-gutter/4;
    min-width: 160px;

    &:after {
        @include icon-arrow;
    }
}
