
/* Subscriptions */
.subscription {
    background-color: $c-neutral8;
    position: relative;
}

.subscription__title {
    @include fs-header(3);
    background-color: $c-brand-dark;
    color: $c-white;
    margin: 0;
    padding: $gs-baseline $gs-gutter/2;

    @include mq(tablet) {
        padding-left: $gs-gutter;
        padding-right: $gs-gutter;
    }

    @include mq(desktop) {
        @include fs-header(5);
    }
}

.subscription__image {
    margin-bottom: $gs-baseline;
    margin-top: $gs-baseline;
}

.subscription__image--wide {
    width: 100%;
}

.subscription__info {
    margin-bottom: $gs-baseline;
    margin-top: $gs-baseline;
    padding: 0 $gs-gutter/2;

    @include mq(tablet) {
        padding: 0 $gs-gutter $gs-baseline*7.5;
    }
}

.subscription__buttons {
    padding: $gs-baseline $gs-gutter/2 $gs-baseline/2;

    @include mq(tablet) {
        bottom: 0;
        padding: $gs-baseline*3 $gs-gutter $gs-baseline*2;
        position: absolute;
        width: 100%;
    }

    .button {
        font-size: 14px;
        line-height: 36px;
        margin-bottom: $gs-baseline/2;
    }
}

/* M25 */
.subscription--m25 {
    padding: $gs-baseline/2 $gs-gutter/2;
    background-color: $c-brand;

    @include mq(tablet) {
        background-image: url(../img/delivery_pack.png);
        background-position: right;
        background-size: 60%;
        background-repeat: no-repeat;
    }

    .subscription__title {
        background-color: transparent;
    }

    .subscription__buttons {
        position: relative;
        padding-top: $gs-baseline;
        padding-bottom: $gs-baseline;
    }
}

.button--wide {
    @include mq(tablet) {
        display: inline-block;
        width: 100%;
        &:after {
            @include icon-arrow;
        }
    }
}
