{% macro howitworks(steps, more_link = '#', scheme = 'delivery') -%}
<div class="row how-it-works cf">
	<div class="col-12">
		<ul class="steps cf">
		{% for step in steps %}
			<li class="step">
				{% include 'macro/howitworks/' ~ step ~ '.html' %}
				<span class="arrow"></span>
			</li>
		{% endfor %}
		</ul>
	</div>
	<p>
		<a class="pull-left find-out-more" href="{{ more_link }}">Find out more about our {{ scheme }} scheme in our FAQs section</a>
		{% if (scheme == 'voucher') %}
		<a class="button pull-right in-m25">Inside the M25? Get your paper delivered to your door</a>
		{% endif %}
	</p>
</div>
{%- endmacro %}